[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ext/CLI11"]
	path = ext/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "ext/xsimd"]
	path = ext/xsimd
	url = https://github.com/xtensor-stack/xsimd
[submodule "ext/bit-algs"]
	path = ext/bit-algs
	url = https://github.com/vreverdy/bit-algorithms
